.products_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;

  border-radius: 12px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #004d40; /* dark teal text */
}

.products_container_title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
  color: #004d40;
}

.loadingMsg,
.erroMsg,
.noProductMsg {
  text-align: center;
  font-size: 1.2rem;
  color: #00796b;
  margin-top: 20px;
}

.products_wrapper {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
}
