.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  color: teal;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.navItem {
  font-size: 18px;
  text-decoration: none;
  color: brown;
}
